.slide-in {
    position: absolute;
    bottom: 100%;
    right: 5%;
    animation: slideIn .5s forwards;
}

@keyframes slideIn {
    0% {
        bottom: 100%;
        /* Start completely outside the visible range */
    }

    100% {
        bottom: 30%;
        /* End at left 0 */
    }
}